@import "_var.scss";
@import "_components.scss";


body {
	font-family: Roboto, serif;
	font-style: normal;
	font-size: 16px;
}

.menu {
	background: #FAFAFA;
	box-shadow: 0 16px 16px rgba(0, 0, 0, 0.13549), 0 0 16px rgba(0, 0, 0, 0.110331);
	position: relative;
	z-index: 5;
	& .menu__inner {
		position: fixed;
		background: #FAFAFA;
		padding: 35px 20px;
		grid-template-rows: 1fr 3fr 1fr;
		display: grid;
		height: 100vh;
	}
	& .logo_menu {
		display: grid;
		justify-items: center;
	}
	& .navigation {
		display: grid;
		align-self: center;
		position: relative;
		& ul {
			padding: 0;
			margin: 0;
			& li {
				margin-bottom: 35px;
				list-style: none;
				& a {
					color: #1d1e1c;
					font-family: Roboto, serif;
					font-size: 16px;
					font-weight: 600;
					line-height: 19px;
					letter-spacing: -0.1325443px;
					padding: 10px 0;
				}
				& i {
					padding-right: 30px;
				}
			}

			& .menu__item--active {
				a {
					color: var(--main-color);
					transition: 0.4s ease-in-out;
				}

			}
			& li:nth-child(1).menu__item--active ~ .slide {
				top: -3px;
			}
			& li:nth-child(2).menu__item--active ~ .slide {
				top: 58px;
			}
			& li:nth-child(3).menu__item--active ~ .slide {
				top: 118px;
			}
			& li:nth-child(4).menu__item--active ~ .slide {
				top: 180px;
			}
			& li:nth-child(5).menu__item--active ~ .slide {
				top: 240px;
			}
			& li:nth-child(6).menu__item--active ~ .slide {
				top: 300px;
			}
			& li:nth-child(7).menu__item--active ~ .slide {
				top: 360px;
			}
			& li:nth-child(8).menu__item--active ~ .slide {
				top: 420px;
			}
			& .slide {
				position: absolute;
				height: 30px;
				left: -15px;
				top: 0;
				border-left: 3px solid  var(--main-color);
				transition: 0.4s ease-in-out;
				border-radius: 9px;
			}
		}
	}
	& .user {
		display: grid;
		align-self: end;
		color: #1d1e1c;
		font-family: Roboto, serif;
		font-size: 16px;
		font-weight: 500;
		line-height: 19px;
		letter-spacing: -0.1325443px;
	}
	& .menu__form {
		display: grid;
		align-self: end;
		& .btn--reg {
			height: 40px;
			width: 178px;
			border: solid 1px var(--main-color);
			border-radius: 2px;
			margin-bottom: 11px;
			& a {
				width: 100%;
				height: 100%;
				display: grid;
				justify-items: center;
				align-items: center;
				color: var(--main-color);
				font-family: Roboto, serif;
				font-size: 16px;
				font-weight: 600;
				line-height: 19px;
				text-align: center;

			}
		}
		& .btn--enter {
			height: 40px;
			width: 178px;
			border-radius: 2px;
			background: #ed7e2e;
			box-shadow: 0 11px 24px -13px var(--main-color);
			& a {
				width: 100%;
				height: 100%;
				display: grid;
				justify-items: center;
				align-items: center;
				color: #ffffff;
				font-family: Roboto, serif;
				font-size: 16px;
				font-weight: 600;
				line-height: 19px;
				text-align: center;
			}
		}
		& p {
			font-family: Roboto, serif;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;
			color: #031026;
			& span {
				color: var(--main-color);
				cursor: pointer;
				text-decoration: underline;
			}
		}
	}
}




