@import "_components.scss";
@import "_var.scss";




.offer {
   width: 100%;
   height: 100%;
   display: grid;
   grid-template-columns: 265px 1fr;
   position: relative;
   & .offer__header {
      padding: 50px 200px;
      background: #FAFAFA;
      & .top__line {
         position: relative;
         & input {
            width: 100%;
            height: 40px;
            background: #FFFFFF;
            border: 1px solid #E8E8E8;
            border-radius: 2px;
            top: 0;
            &::placeholder {
               opacity: 0.25;
               color: #1d1e1c;
            }
            &[type="text"] {
               padding-left: 20px;
            }
         }
       & .btn--search {
          position: absolute;
          right: 0;
          height: 40px;
          width: 109px;
          background: var(--main-color);
          border-radius: 2px;
          top: 0;
          & a {
             display: grid;
             justify-items: center;
             align-items: center;
             width: 100%;
             height: 100%;
          }
       }
      }
    & .event__buttons {
       display: grid;
       grid-template-columns: max-content max-content max-content;
       margin:50px 0 50px 0;
       padding-left: 40px;
       & .btn {
          width: 178px;
          height: 40px;
          border-radius: 3px;

          margin-right: 45px;
          & a {
             display: grid;
             width: 100%;
             height: 100%;
             grid-template-columns: 1fr 2fr;
             justify-items: center;
             align-items: center;
             & p {
                margin: 0;
             }
          }
       }
       & .btn--add {
          background: #a4be8f;
       }
       & .btn--change {
          background: #fbe33a;
       }
       & .btn--del {
          background: #ff707e;
       }
    }
    & .data__table {
       & .data__item {
          width: 100%;
          height: 35px;
          display: grid;
          grid-template-columns: 15px 1fr 200px 200px 1fr 170px;
          position: relative;
          border-radius: 4px;
          background: #FAFAFA;
          text-align: center;
          &:nth-child(1) {
             .checkbox label::before{
                height: 16px;
                width: 16px;
                border: 2px solid gray;
                border-radius: 2px;
                left: 10px;
                top: 8px;
             }
          }
          & p {
             margin: 0;
          }
          & .checkbox {
             display: grid;
             & i {
                position: absolute;
                left: 35px;
                top: 8px;
                font-size: 12px;
                color: gray;
             }
          }
          & input {
             display: none;
          }
          & .checkbox input[type="checkbox"] {
             opacity: 0;
             width: 0;
          }

          .checkbox label {
             position: relative;
             display: inline-block;
             cursor: pointer;
             padding-left: 22px;
          }

          .checkbox label::before,
          .checkbox label::after {
             position: absolute;
             content: "";
             display: inline-block;
          }

          .checkbox label::before{
             height: 16px;
             width: 16px;
             border: 2px solid #e8e8e8;
             border-radius: 2px;
             left: 10px;
             top: 8px;
          }

          .checkbox label::after {
             height: 5px;
             width: 9px;
             border-left: 2px solid;
             border-bottom: 2px solid;

             transform: rotate(-45deg);

             left: 14px;
             top: 12px;
          }

          .checkbox input[type="checkbox"] + label::after {
             content: none;
          }

          .checkbox input[type="checkbox"]:checked + label::after {
             content: "";
             color: #FFFFFF;
          }
          .checkbox input[type="checkbox"]:checked + label::before {
             background-color: #ed7e2e;
             border: 2px solid #ed7e2e;

          }
          & .address {
             display: grid;
             align-items: center;
          }
          & .type {
             border-right: solid 1px var(--border-color);
             border-left: solid 1px var(--border-color);
             display: grid;
             align-items: center;
          }
          & .status {
             border-right: solid 1px var(--border-color);
             display: grid;
             align-items: center;
             justify-items: center;
             & p {
                border: solid 1px;
                border-radius: 4px;
                width: 70%;
                display: block;
             }
          }
          & .user {
             border-right: solid 1px var(--border-color);
             display: grid;
             align-items: center;
          }
          & .view {
             display: grid;
             grid-template-columns: 30px 30px;
             align-items: center;
             grid-gap: 10px;
             padding-left: 20px;
             & i {
                color:  #05295f;
             }
          }
       }
       & .item--hover {
          position: relative;
          & .hidden {
             height: 100%;
             position: absolute;
             Margin:auto;
             Right:0;
             Top:0;
             Bottom:0;
             grid-template-columns: 35px 35px;
             align-items: center;
             display: none;
             & i {
                cursor: pointer;
             }

          }
          &:hover {
             background: var(--main-color);
             & i {
                color: white;
             }
             & p {
                color: white;
             }
             & .hidden {
                display: grid;
             }
          }
       }
       & .item--hover:nth-child(2n) {
          background-color: #ffffff;
          &:hover {
             background: var(--main-color);
          }
       }
    }
   }
}



.actual {
   & p {
      color: var(--actual-color);
      border-color: var(--actual-color);
   }
}

.in_rent {
   & p {
      color: var(--rent-color);
      border-color: var(--rent-color);
   }
}

.in_sales {
   & p {
      color: var(--sales-color);
      border-color: var(--sales-color);
   }
}
