* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  overflow-x: hidden; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }


a, a:hover, a:focus, a:active {
  outline: none !important;
  text-decoration: none;
  color: #000; }

:root {
  --main-color: #ED7E2E;
  --gutter:20px;
  --actual-color:#74c143;
  --rent-color: #dfc600;
  --sales-color:#e45a56;
  --signed-color:#62ba46;
  --in-work-color:#e3cd40;
  --paid--color:#2f66d2;
  --input--color:#c6c8c5;
  --border-color:rgba(6, 43, 94, 0.14); }

.rent {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 265px 1fr;
  position: relative; }
  .rent .offer__header {
    padding: 50px 150px;
    background: #FAFAFA; }
    .rent .offer__header .top__line {
      position: relative; }
      .rent .offer__header .top__line input {
        width: 100%;
        height: 40px;
        background: #FFFFFF;
        border: 1px solid #E8E8E8;
        border-radius: 2px;
        top: 0; }
        .rent .offer__header .top__line input::placeholder {
          opacity: 0.25;
          color: #1d1e1c; }
        .rent .offer__header .top__line input[type="text"] {
          padding-left: 20px; }
      .rent .offer__header .top__line .btn--search {
        position: absolute;
        right: 0;
        height: 40px;
        width: 109px;
        background: var(--main-color);
        border-radius: 2px;
        top: 0; }
        .rent .offer__header .top__line .btn--search a {
          display: grid;
          justify-items: center;
          align-items: center;
          width: 100%;
          height: 100%; }
    .rent .offer__header .event__buttons {
      display: grid;
      grid-template-columns: max-content max-content max-content;
      margin: 50px 0 50px 0;
      //padding-left: 40px; }
      .rent .offer__header .event__buttons .btn {
        width: 178px;
        height: 40px;
        border-radius: 3px;
        margin-right: 45px; }
        .rent .offer__header .event__buttons .btn a {
          display: grid;
          width: 100%;
          height: 100%;
          grid-template-columns: 1fr 2fr;
          justify-items: center;
          align-items: center; 
          cursor: pointer;
          }
          .rent .offer__header .event__buttons .btn a p {
            margin: 0; }
      .rent .offer__header .event__buttons .btn--add {
        background: #a4be8f; }
      .rent .offer__header .event__buttons .btn--change {
        background: #fbe33a; }
      .rent .offer__header .event__buttons .btn--del {
        background: #ff707e; }
    .rent .offer__header .data__table .data__item {
      width: 100%;
      height: 35px;
      display: grid;
      grid-template-columns: 15px 1fr 200px 200px 1fr 1fr;
      position: relative;
      border-radius: 4px;
      background: #FAFAFA;
      text-align: center; }
      .rent .offer__header .data__table .data__item:nth-child(1) .checkbox label::before {
        height: 16px;
        width: 16px;
        border: 2px solid gray;
        border-radius: 2px;
        left: 10px;
        top: 8px; }
      .rent .offer__header .data__table .data__item p {
        margin: 0; }
      .rent .offer__header .data__table .data__item .checkbox {
        display: grid; }
        .rent .offer__header .data__table .data__item .checkbox i {
          position: absolute;
          left: 35px;
          top: 8px;
          font-size: 12px;
          color: gray; }
      .rent .offer__header .data__table .data__item input {
        display: none; }
      .rent .offer__header .data__table .data__item .checkbox input[type="checkbox"] {
        opacity: 0;
        width: 0; }
      .rent .offer__header .data__table .data__item .checkbox label {
        position: relative;
        display: inline-block;
        cursor: pointer;
        padding-left: 22px; }
      .rent .offer__header .data__table .data__item .checkbox label::before,
      .rent .offer__header .data__table .data__item .checkbox label::after {
        position: absolute;
        content: "";
        display: inline-block; }
      .rent .offer__header .data__table .data__item .checkbox label::before {
        height: 16px;
        width: 16px;
        border: 2px solid #e8e8e8;
        border-radius: 2px;
        left: 10px;
        top: 8px; }
      .rent .offer__header .data__table .data__item .checkbox label::after {
        height: 5px;
        width: 9px;
        border-left: 2px solid;
        border-bottom: 2px solid;
        transform: rotate(-45deg);
        left: 14px;
        top: 12px; }
      .rent .offer__header .data__table .data__item .checkbox input[type="checkbox"] + label::after {
        content: none; }
      .rent .offer__header .data__table .data__item .checkbox input[type="checkbox"]:checked + label::after {
        content: "";
        color: #FFFFFF; }
      .rent .offer__header .data__table .data__item .checkbox input[type="checkbox"]:checked + label::before {
        background-color: #ed7e2e;
        border: 2px solid #ed7e2e; }
      .rent .offer__header .data__table .data__item .address {
        display: grid;
        align-items: center; }
      .rent .offer__header .data__table .data__item .date {
        border-right: solid 1px var(--border-color);
        border-left: solid 1px var(--border-color);
        display: grid;
        align-items: center; }
      .rent .offer__header .data__table .data__item .status {
        border-right: solid 1px var(--border-color);
        display: grid;
        align-items: center;
        justify-items: center; }
        .rent .offer__header .data__table .data__item .status p {
          border: solid 1px;
          border-radius: 4px;
          width: 70%;
          display: block; }
      .rent .offer__header .data__table .data__item .user {
        border-right: solid 1px var(--border-color);
        display: grid;
        align-items: center; }
      .rent .offer__header .data__table .data__item .renter {
        display: grid;
        align-items: center;
        grid-gap: 10px; }
        .rent .offer__header .data__table .data__item .renter i {
          color: #05295f; }
    .rent .offer__header .data__table .item--hover {
      position: relative; }
      .rent .offer__header .data__table .item--hover .hidden {
        height: 100%;
        position: absolute;
        Margin: auto;
        Right: 0;
        Top: 0;
        Bottom: 0;
        grid-template-columns: 35px 35px;
        align-items: center;
        display: none; }
        .rent .offer__header .data__table .item--hover .hidden i {
          cursor: pointer; }
      .rent .offer__header .data__table .item--hover:hover {
        background: var(--main-color); }
        .rent .offer__header .data__table .item--hover:hover i {
          color: white; }
        .rent .offer__header .data__table .item--hover:hover p {
          color: white; }
        .rent .offer__header .data__table .item--hover:hover .hidden {
          display: grid; }
    .rent .offer__header .data__table .item--hover:nth-child(2n) {
      background-color: #ffffff; }
      .rent .offer__header .data__table .item--hover:nth-child(2n):hover {
        background: var(--main-color); }

.signed p {
  color: var(--signed-color);
  border-color: var(--signed-color); }

.in_work p {
  color: var(--in-work-color);
  border-color: var(--in-work-color); }

.paid p {
  color: var(--paid--color);
  border-color: var(--paid--color); }

input {
  outline:none !important;
}

