:root {
  --main-color: #ED7E2E;
  --gutter:20px;
  --actual-color:#74c143;
  --rent-color: #dfc600;
  --sales-color:#e45a56;
  --signed-color:#62ba46;
  --in-work-color:#e3cd40;
  --paid--color:#2f66d2;
  --input--color:#c6c8c5;
  --border-color:rgba(6, 43, 94, 0.14); }

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  box-shadow: 0 -13px 24px 0 rgba(223, 223, 223, 0.4); }
  .footer__inner {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 20px; }
    .footer__inner .footer__top--line .footer__navigation--list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); }
    .footer__inner .footer__top--line ul {
      margin: 0;
      padding: 0; }
      .footer__inner .footer__top--line ul li {
        display: inline-block;
        padding-right: 30px;
        text-align: center; }
        .footer__inner .footer__top--line ul li ul li {
          display: block; }
